<!-- Custom head -->

<script async src="https://pagead2.googlesyndication.com/pagead/js/adsbygoogle.js?client=ca-pub-5410467857105222"
     crossorigin="anonymous"></script>

{{ partial "analytics.html" . }}
<link rel="stylesheet" href="/vendor/cookieconsent/cookieconsent.css">

{{ partial "consent.html" . }}

<!-- Google Tag Manager -->
<script>(function(w,d,s,l,i){w[l]=w[l]||[];w[l].push({'gtm.start':
new Date().getTime(),event:'gtm.js'});var f=d.getElementsByTagName(s)[0],
j=d.createElement(s),dl=l!='dataLayer'?'&l='+l:'';j.async=true;j.src=
'https://www.googletagmanager.com/gtm.js?id='+i+dl;f.parentNode.insertBefore(j,f);
})(window,document,'script','dataLayer','GTM-WCNJ3F9Z');</script>
<!-- End Google Tag Manager -->

{{ if .Params.math }}
  {{ partial "math.html" . }}
{{ end }}

<!-- Used for image-details shortcode -->
{{ if .HasShortcode "image-details" }}
<script>
function showImage(containerId, imageId) {
  const container = document.getElementById(containerId);
  const images = container.querySelectorAll("img");

  images.forEach(img => {
    img.style.display = "none";
  });

  const buttons = document.getElementsByClassName(containerId + "-buttons");
  for (let btn of buttons) {
    btn.style.display = "none";
  };

  const back = document.getElementById(containerId + "-back");
  back.style.display = "block";


  container.querySelector("#" + imageId).style.display = "block";
}

function showMain(containerId) {
  showImage(containerId, containerId + "-main");

  const buttons = document.getElementsByClassName(containerId + "-buttons");
  for (let btn of buttons) {
    btn.style.display = "block";
  };

  const back = document.getElementById(containerId + "-back");
  back.style.display = "none";
}
</script>
{{ end }}
